__pycache__
.idea
*.pyc
*.h5
/Course 4 - Convolutional Neural Networks/Week 3 - Autonomous driving - Car detection/*
!/Course 4 - Convolutional Neural Networks/Week 3 - Autonomous driving - Car detection/*.py